.member-block
    background-color: $background

    &:not(:last-child)
        margin-bottom: $content-block-margin-bottom

    @media(min-width: $widescreen)
        display: flex
        &:nth-of-type(even)
            flex-direction: row-reverse

    .member-block-details
        padding: $box-padding

        p
            font-size: $size-6

    .cover-thumbnail
        margin-bottom: 0
        display: block
        min-height: 200px

        @media(min-width: $widescreen)
            width: 35%

        figure
            height: 100%

            img
                height: 100%
                width: 100%
                object-fit: cover
