<div class="field is-grouped is-grouped-right">
    {% if policy.userCanReadVcard(iter) %}
        <div class="control">
            <a href="{{ path('profile.vcard', {member_id: iter.id}) }}" class="button" title="{{ __('Download vCard') }}">
                <span class="icon">
                    <i class="fas fa-address-card" aria-hidden="true"></i>
                </span>
                <span>{{ __('Add contact') }}</span>
            </a>
        </div>
    {% endif %}
    {% if policy.userCanRead(iter.photobook) %}
        <div class="control">
            <a href="{{ path('photo_books.single', {book_id: iter.photobook.id}) }}" class="button">
                <span class="icon">
                    <i class="fas fa-images" aria-hidden="true"></i>
                </span>
                <span>
                    {{ __('Photos') }}
                </span>
            </a>
        </div>
    {% endif %}
</div>
<div class="profile-widget">
    {% if iter.profile_picture and not iter.is_private('foto') %}
        <figure class="profile-photo">
            <a class="image is-128x128" href="{{ path('profile_pictures.member', {member_id: iter.id, format: 'original', timestamp: iter.profile_picture.mtime}) }}" data-popup="image" title="{{ __('Click to enlarge the photo')|e('html_attr') }}">
                <img class="is-rounded" src="{{ path('profile_pictures.member', {member_id: iter.id, format: 'square', width: 256, timestamp: iter.profile_picture.mtime}) }}" width="128">
            </a>
        </figure>
    {% else %}
        <figure class="profile-photo image is-128x128">
            <img class="is-rounded" src="{{ path('profile_pictures.member', {member_id: iter.id, format: 'square', width: 256}) }}" width="150">
        </figure>
    {% endif %}
    
    <div class="profile-info">
        <h1 class="name">
            {{ iter.full_name }}
            {% if iter.nick != '' and iter.nick != iter.full_name and not iter.is_private('naam') %}
                <span class="nickname">({{ iter.nick }})</span>
            {% endif %}
        </h1>
        
        {% if iter.homepage is not empty %}
            <p class="webpage">
                <a href="{{ iter.homepage|e('html_attr') }}" target="_blank" rel="nofollow noopener">{{ iter.homepage|hostname }}</a>
            </p>
        {% endif %}
    </div>
</div>
