{% extends '@layout/layout.html.twig' %}

{% block title __('Polls') ~ ' – ' ~ parent() %}

{% from 'polls/macros.html.twig' import render_pagination, render_poll %}

{% block content %}
<header class="block">
    <div class="level is-mobile">
        <div class="level-left">
            <a href="{{ path('polls.list') }}" class="button level-item">
                <span class="icon is-small">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </span>
                <span class="is-hidden-mobile">{{ __('Back to polls')  }}</span>
                <span class="is-hidden-tablet">{{ __('Back')  }}</span>
            </a>
        </div>
        <div class="level-right">
            {% if policy.userCanClose(iter) or policy.userCanClose(iter) or policy.userCanDelete(iter) %}
                <div class="level-item dropdown is-right">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" aria-label="{{ __('Manage poll') }}">
                            <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            {% if iter.is_open and policy.userCanClose(iter) %}
                                <a class="dropdown-item"
                                    href="{{ path('polls.close', {id: iter.id}) }}"
                                    data-popup="modal"
                                >
                                    {{ __('Close poll') }}
                                </a>
                            {% endif %}
                            {% if not iter.is_open and policy.userCanReopen(iter) %}
                                <a class="dropdown-item"
                                    href="{{ path('polls.reopen', {id: iter.id}) }}"
                                    data-popup="modal"
                                >
                                    {{ __('Reopen poll') }}
                                </a>
                            {% endif %}
                            {% if policy.userCanDelete(iter) %}
                                <a class="dropdown-item"
                                    href="{{ path('polls.delete', {id: iter.id}) }}"
                                    data-popup="modal"
                                >
                                    {{ __('Delete poll') }}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <h1 class="is-sr-only">{{ __('Poll') }}</h1>
</header>
<section>
{{ render_poll(iter, false) }}
{% for comment in iter.comments %}
<div class="media poll">
    <figure class="media-left is-hidden-mobile">
        {% if comment.member %}
            <a class="image is-64x64" href="{{ path('profile.member', {member_id: comment.member.id}) }}" title="{{ comment.member.full_name }}" aria-label="{{ comment.member.full_name }}">
                <img class="is-rounded" width="64" height="64" src="{{ path('profile_pictures.member', {member_id: comment.member.id, format: 'square', width: 128}) }}" alt="{{ __('Photo of %s')|format(comment.member.full_name) }}">
            </a>
        {% else %}
            <div class="image is-64x64">
                <span class="committee-avatar" title="{{ __('Anonymous') }}" aria-hidden="true">
                    <span class="icon is-large">
                        <i class="fas fa-user-secret fa-2x"></i>
                    </span>
                </span>
            </div>
        {% endif %}
    </figure>
    <div class="media-content">
        <div class="content">
            <div class="poll-meta">
                <span class="is-hidden-tablet">
                    {% if comment.member %}
                        <a class="image is-48x48" href="{{ path('profile.member', {member_id: comment.member.id}) }}" title="{{ comment.member.full_name }}" aria-label="{{ comment.member.full_name }}">
                            <img class="is-rounded" width="48" height="48" src="{{ path('profile_pictures.member', {member_id: comment.member.id, format: 'square', width: 96}) }}" alt="{{ __('Photo of %s')|format(comment.member.full_name) }}">
                        </a>
                    {% else %}
                        <span class="image is-48x48">
                            <span class="committee-avatar" title="{{ __('Anonymous') }}" aria-hidden="true">
                                <span class="icon">
                                    <i class="fas fa-user-secret"></i>
                                </span>
                            </span>
                        </span>
                    {% endif %}
                </span>
                <ul>
                    <li>
                        <strong>
                            {% if comment.member %}
                                <a href="{{ path('profile.member', {member_id: comment.member.id}) }}">
                                    {{ comment.member.full_name }}
                                </a>
                            {% else %}
                                {{ __('Anonymous') }}
                            {% endif %}
                        </strong>
                    </li>
                    <li class="divider"></li>
                    <li class="is-size-7" title="{{ comment.created_on|date('d-m-Y H:i') }}">
                        {{ comment.created_on|date_relative }}
                    </li>
                </ul>
            </div>
            <p>
                {{ comment.comment|parse_markup }}
            </p>
        </div>
        <div class="controls level is-mobile">
            <div class="level-left">
                {% if policy.userCanLike(comment) %}
                    {% set liked = comment.is_liked_by(auth.identity.member) %}
                    <form class="level-item like-form" method="post"
                        action="{{ path('poll_comments.likes', {poll_id: comment.poll_id, id: comment.id}) }}"
                        data-cta="{{ [__('You’ve liked this comment. Click to unlike.'), __('Like comment.') ]|json_encode|e('html_attr') }}"
                    >
                        <input type="hidden" name="form[_token]" value="{{ csrf_token('like_poll_comment_' ~ comment.id) }}">
                        <input type="hidden" name="action" value="{{liked ? 'unlike' : 'like'}}"> {# Needed for API #}
                        {% if liked %}
                            <button name="form[unlike]" type="submit" class="button is-text icon"
                                title="{{ __('You’ve liked this comment. Click to unlike.') }}"
                                aria-label="{{ __('You’ve liked this comment. Click to unlike.') }}"
                            >
                                <i class="fas fa-heart has-text-cover" aria-hidden="true"></i>
                            </button>
                        {% else %}
                            <button name="form[like]" type="submit" class="button is-text icon"
                                title="{{ __('Like comment.') }}"
                                aria-label="{{ __('Like comment.') }}">
                                <i class="fas fa-heart" aria-hidden="true"></i>
                            </button>
                        {% endif %}
                        <span class="count"
                            {% if not comment.like_count %}hidden{% endif %}
                            title="{{ comment.like_count > 0 ? __N('%d person likes this comment', '%s people like this comment', comment.like_count)|e('html_attr') : '' }}"
                            data-title="{{ [__('person likes this comment'), __('people like this comment') ]|json_encode|e('html_attr') }}"
                            data-sr-text="{{ [__('like'), __('likes') ]|json_encode|e('html_attr') }}"
                        >
                            <span class="count-number">{{ comment.like_count }}</span>
                            <span class="is-sr-only">{{ __N('like', 'likes', comment.like_count) }}</span>
                        </span>
                    </form>
                {% else %}
                    <a 
                        class="level-item likes"
                        title="{{ __N('%d like', '%d likes', comment.like_count) }}"
                        aria-label="{{ __N('%d like', '%d likes', comment.like_count) }}"
                    >
                        <span aria-hidden="true">
                            <i class="fas fa-heart"></i>
                            <span class="count" {% if not comment.like_count %}hidden{% endif %}>
                                {{ comment.like_count }}
                                <span class="is-sr-only">{{ __N('like', 'likes', comment.like_count) }}</span>
                            </span>
                        </span>
                    </a>
                {% endif %}
                {% if policy.userCanUpdate(comment) %}
                    <a
                        class="level-item"
                        href="{{ path('poll_comments.update', {poll_id: comment.poll_id, id: comment.id}) }}"
                        title="{{ __('Edit comment') }}"
                        aria-label="{{ __('Edit comment') }}"
                    >
                        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                    </a>
                {% endif %}
                {% if policy.userCanDelete(comment) %}
                    <a
                        class="level-item"
                        href="{{ path('poll_comments.delete', {poll_id: comment.poll_id, id: comment.id}) }}"
                        data-popup="modal"
                        title="{{ __('Delete comment') }}"
                        aria-label="{{ __('Delete comment') }}"
                    >
                        <i class="fas fa-trash" aria-hidden="true"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% if policy.userCanCreate('DataModelPollComment') %}
    <form 
        class="media poll"
        id="comment-form"
        name="poll_comment"
        action="{{ path('poll_comments.create', {poll_id: iter.id}) }}"
        method="post"
    >
        <input type="hidden" name="poll_comment[_token]" value="{{ csrf_token('poll_' ~ iter.id ~ '_comment') }}">
        <figure class="media-left is-hidden-mobile">
            <p class="image is-64x64">
                <img class="is-rounded" width="64" height="64" src="{{ path('profile_pictures.member', {member_id: auth.identity.member.id, format: 'square', width: 128}) }}" alt="Photo of {{ auth.identity.member.get_full_name(bePersonal: true) }}">
            </p>
        </figure>
        <div class="media-content">
            <div class="field">
                <p class="control">
                    <textarea 
                        id="poll_comment_reactie"
                        class="textarea"
                        name="poll_comment[comment]"
                        placeholder="{{ __('Type your comment here…') }}"
                        aria-label="{{ __('Comment') }}"
                        required
                    ></textarea>
                </p>
            </div>
            <div class="field is-grouped is-grouped-right">
                <div class="control">
                    <button type="submit" class="button is-primary">{{ __('Post comment') }}</button>
                </div>
            </div>
        </div>
    </form>
{% endif %}
</section>
{% endblock %}
