{% extends '@layout/layout.html.twig' %}

{% block title __('Download photo book') ~ ' – ' ~ parent() %}

{% block content %}
<div class="modal is-static">
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{{ __('Download photo book') }}</p>
        </header>
        <section class="modal-card-body">
            <form id="download-book-form" method="get" action="{{ path('photo_books.download', {book_id: book.id}) }}" id="download-photo-book-form">
                <div class="field">
                    <p>{{ __('Are you sure you want to download <a href="%s">%s</a> and all of its sub books?')|format(path('photos', {book: book.id}), book.titel|e)|raw }}</p>
                </div>

                <div class="field">
                    <p>{{ __('Note that you will be downloading %d originals. That is <strong>%s</strong> in total!')|format(total_photos, humanize.fileSize(total_file_size))|raw }}</p>
                </div>
            </form>
        </section>
        <footer class="modal-card-foot">
            <a href="{{ path('photo_books.single', {book_id: book.id}) }}" class="button" data-dismiss="modal">{{ __('Cancel') }}</a>
            <button type="submit" class="button is-primary" form="download-book-form">{{ __('Download as a ZIP (%s)')|format(humanize.fileSize(total_file_size)) }}</button>
        </footer>
    </div>
</div>
{% endblock %}
