{% extends '@layout/layout.html.twig' %}

{% from 'photos/macros.html.twig' import gallery %}

{% block title __('Delete photos') ~ ' – ' ~ parent() %}

{% block content %}
<div class="modal is-static">
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{{ __('Delete photos') }}</p>
        </header>
        <section class="modal-card-body">
            {{ form_start(form, {id: 'delete-photos-form'}) }}
                {% set submit_button = form_widget(form.submit, {color: 'danger', attr: {form: 'delete-photos-form'}}) %}
                <div class="field">
                    <p>{{ __('Are you sure you want to delete %d photos from the <em>%s</em> photo book?')|format(photos|length, book.titel|e)|raw }}</p>
                </div>
                <div class="delete-photos">
                    {{ gallery(photos, {'book': book}) }}
                </div>
            {{ form_end(form) }}
        </section>
        <footer class="modal-card-foot">
            <a href="{{ path('photo_books.single', {book_id: book.id}) }}" class="button" data-dismiss="modal">{{ __('Cancel') }}</a>
            {{ submit_button|raw }}
        </footer>
    </div>
</div>
{% endblock %}
