{% extends '@layout/layout.html.twig' %}

{% set form_title = book.id > 0 ? __('Modify photo album') : __('Add a new photo album') %}

{% block title form_title ~ ' – ' ~ parent() %}

{% block content %}
<h1 class="title">{{ form_title }}</h1>
{{ form_start(form) }}
    {# Global errors #}
    {{ form_errors(form) }}
    {# fields #}
    {{ form_row(form.titel) }}
    <div class="field">
        <label class="label">{{ __('Part of') }}</label>
        <div class="control">
            <a href="{{ path('photo_books.single', {book_id: book.parent.id}) }}" id="parent">{{ book.parent.titel }}</a>
        </div>
    </div>
    {{ form_row(form.date) }}
    {{ form_row(form.fotograaf) }}
    {{ form_row(form.visibility) }}
    {{ form_row(form.beschrijving) }}
    <div class="field">
        <div class="control buttons">
            {{ form_widget(form.submit, {label: book.id > 0 ? __('Modify photo album') : __('Add photo album')}) }}
            {% if book.id > 0 %}
                <a href="{{ path('photo_books.single', {book_id: book.id}) }}" class="button">{{ __('Return to %s')|format(book.titel) }}</a>
            {% else %}
                <a href="{{ path('photo_books.single', {book_id: book.parent.id}) }}" class="button">{{ __('Return to %s')|format(book.parent.titel) }}</a>
            {% endif %}
        </div>
    </div>
{{ form_end(form) }}
{% endblock %}
