<figure class="image is-16by9 video">
    <iframe
        class="has-ratio"
        src="https://www.youtube-nocookie.com/embed/{{ youtube_id }}"
        frameborder="0"
        allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
    ></iframe>
</figure>
