{% extends '@layout/layout.html.twig' %}

{% block title __('Announcements') ~ ' – ' ~ parent() %}

{% block content %}
<article class="announcements">
    {{ include('announcements/_announcements.html.twig') }}
</article>
{% endblock %}
