{% extends '@layout/layout.html.twig' %}

{% block content %}
<div class="modal is-static">
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{{ __('Upload photo for sticker') }}</p>
        </header>
        <section class="modal-card-body">
            {{ form_start(form, {'id': 'sticker-photo-form', 'action': path('stickers.add_photo', app.request.query.all|merge({id: sticker.id})) }) }}
                {# Global errors #}
                {{ form_errors(form) }}

                {# Fields #}
                <div class="field">
                    <div class="control">
                        {{ form_widget(form.photo, {attr: {class: 'has-name is-fullwidth'}}) }}
                    </div>
                    {{ form_errors(form.photo) }}
                    {{ form_help(form.photo) }}
                </div>

                {# Cache submit button #}
                {% set submit_button = form_widget(form.submit, {label: __('Upload photo'), color: 'danger', attr: {form: 'sticker-photo-form'}}) %}
            {{ form_end(form) }}
        </section>
        <footer class="modal-card-foot">
            <a href="{{ path('stickers.list', app.request.query.all) }}" class="button" data-dismiss="modal">{{ __('Return to map') }}</a>
            {{ submit_button|raw }}
        </footer>
    </div>
</div>
{% endblock %}
