{% extends '@layout/layout.html.twig' %}

{% block title (sticker.has_id ? __('Update sticker') : __('Add a new sticker')) ~ ' – ' ~ parent() %}

{% block style %}
    {{ parent() }}
    {{ encore_entry_link_tags('maps') }}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('maps') }}
{% endblock %}

{% block content %}
<div class="modal is-static">
    <div class="modal-card">
        <header class="modal-card-head">
            <h1 class="modal-card-title">{{ sticker.has_id ? __('Update sticker') : __('Add a new sticker') }}</h1>
        </header>
        <section class="modal-card-body">
            {# Hand over current query parameters for the best experience when the modal doesn't modal #}
            {{ form_start(form, {
                'id': 'sticker-form',
                'action': sticker.has_id ? path('stickers.update', app.request.query.all|merge({id: sticker.id})) : path('stickers.create', app.request.query.all)
            }) }}
                {# Global errors #}
                {{ form_errors(form) }}

                {# Fields #}
                {{ form_row(form.label) }}
                {{ form_row(form.omschrijving) }}
                <div
                    class="field location-picker"
                    data-label="{{ __('Location') }}"
                    data-help-text="{{ __('Drag the marker or click the map to select a location') }}"
                    data-lat-field="{{ '%s[%s]'|format(form.vars.name, form.lat.vars.name) }}"
                    data-lng-field="{{ '%s[%s]'|format(form.vars.name, form.lng.vars.name) }}"
                    data-zoom="{{ global.GET.zoom ?? '' }}"
                >
                    <div class="notification is-danger is-light" data-unsupported-message hidden>
                        This location picker uses WebGL for a better experience. Please check that you are using a supported browser and that <a href="https://get.webgl.org/" target="_blank" rel="noopener noreferrer" >WebGL is enabled</a>.
                    </div>
                    {{ form_row(form.lat) }}
                    {{ form_row(form.lng) }}
                </div>

                {# Cache submit button #}
                {% set submit_button = form_widget(form.submit, {'label': __('Add sticker to map'), 'attr': {'form': 'sticker-form'}}) %}
            {{ form_end(form) }}
        </section>
        <footer class="modal-card-foot">
            <a href="{{ path('stickers.list', app.request.query.all) }}" class="button" data-dismiss="modal">
                {{ __('Return to map') }}
            </a>
            {{ submit_button|raw }}
        </footer>
    </div>
</div>
{% endblock %}
