<form
    id="vacancy-filter-form"
    method="GET"
    action="{{ path('vacancies.list') }}"
    data-auto-submit
    data-allow-submit-on-enter
    data-use-native-submit
    data-visibility-selector="[data-filter-tags]"
>
    <div class="field has-addons">
        <div class="control is-expanded">
            <input
                type="search"
                id="field-query"
                name="query"
                placeholder="{{ __('Type here to search vacancies…') }}"
                class="input"
                aria-label="{{ __('Filter vacancies') }}"
                value="{{ filters.query|default('') }}"
            >
        </div>
        <div class="control">
            <button class="button" type="submit" aria-label="{{ __('Search') }}">
                <span class="icon">
                    <i class="fas fa-search"></i>
                </span>
            </button>
        </div>
    </div>
    <div class="field is-grouped is-grouped-multiline">
        {% if show_all_button is defined and show_all_button %}
            <div class="control">
                <a href="{{ path('vacancies.list') }}" class="button is-primary">{{ __('All vacancies') }}</a>
            </div>
        {% endif %}
        <div class="control">
            <div class="dropdown">
                <div class="dropdown-trigger">
                    <button class="button" type="button" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span>{{ __('Type') }}</span>
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                        {% for value, name in constant('App\\DataModel\\DataModelVacancy::TYPE_OPTIONS') %}
                            <label class="checkbox dropdown-item" for="field-type-{{value}}" data-auto-submit-no-switch>
                                <input
                                    type="checkbox"
                                    name="type[]"
                                    id="field-type-{{ value }}"
                                    value="{{ value }}"
                                    {% if value in filters.type|default([]) %}checked{% endif %}
                                >
                                {{ name }}
                            </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="control">
            <div class="dropdown">
                <div class="dropdown-trigger">
                    <button class="button" type="button" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span>{{ __('Skill level') }}</span>
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                        {% for value, name in constant('App\\DataModel\\DataModelVacancy::STUDY_PHASE_OPTIONS') %}
                            <label class="checkbox dropdown-item" for="field-study_phase-{{value}}" data-auto-submit-no-switch>
                                <input
                                    type="checkbox"
                                    name="study_phase[]"
                                    id="field-study_phase-{{ value }}"
                                    value="{{ value }}"
                                    {% if value in filters.study_phase|default([]) %}checked{% endif %}
                                >
                                {{ name }}
                            </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="control">
            <div class="dropdown">
                <div class="dropdown-trigger">
                    <button class="button" type="button" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span>{{ __('Company') }}</span>
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                        {% for partner in partners %}
                            {% set value = partner['id'] ?? partner['name'] %}
                            <label class="checkbox dropdown-item" for="field-partner-{{ value }}" data-auto-submit-no-switch>
                                <input
                                    type="checkbox"
                                    name="partner[]"
                                    id="field-partner-{{ value }}"
                                    value="{{ value }}"
                                    {% if value in filters.partner|default([]) %}checked{% endif %}
                                >
                                {{ partner['name'] }}
                            </label>
                        {% else %}
                            <div class="dropdown-item">
                                {{ __('No companies found…') }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
