{% extends '@layout/layout.html.twig' %}

{% macro render_filter_tag(tag, context) %}
    {% if tag.field == 'partner' %}
        {% set partner = context.partners|find(p => p.id == tag.value) %}
        {% if partner is empty %}
            {% set tag_name = tag.value %}
            {% set tag_for = 'field-partner-' ~ tag.value %}
        {% else %}
            {% set tag_name = partner.name %}
            {% set tag_for = 'field-partner-' ~ partner.id %}
        {% endif %}
    {% elseif tag.field == 'type' %}
        {% set tag_name = constant('App\\DataModel\\DataModelVacancy::TYPE_OPTIONS')[tag.value] %}
        {% set tag_for = 'field-type-' ~ tag.value %}
    {% elseif tag.field == 'study_phase' %}
        {% set tag_name = constant('App\\DataModel\\DataModelVacancy::STUDY_PHASE_OPTIONS')[tag.value] %}
        {% set tag_for = 'field-study_phase-' ~ tag.value %}
    {% else %}
        {% set tag_name = __('Unknown') %}
        {% set tag_for = '' %}
    {% endif %}
    <div class="tags has-addons">
        <span class="tag">{{ tag_name }}</span>
        <label class="tag is-delete" type="button" for="{{ tag_for }}"><span class="is-sr-only">{{ __('Delete filter') }}</span></label>
    </div>
{% endmacro %}

{% block title __('Vacancies') ~ ' – ' ~ parent() %}

{% block content %}
<header class="block">
    {% set header = get_page('vacancies_header') %}
    <div class="level">
        <div class="level-left">
            <h1 class="title">{{ __('Vacancies') }}</h1>
        </div>
        <div class="level-right buttons">
            {% if header and policy.userCanUpdate(header) %}
                <a href="{{ path('page.update', {id: header.id}) }}" class="button">
                    <span class="icon">
                        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                    </span>
                    <span>{{ __('Modify header') }}</span>
                </a>
            {% endif %}
            {% if policy.userCanCreate('DataModelVacancy') %}
                <a href="{{ path('vacancies.create') }}" class="button">
                    <span class="icon">
                        <i class="fas fa-plus" aria-hidden="true"></i>
                    </span>
                    <span>{{ __('New vacancy')  }}</span>
                </a>
            {% endif %}
        </div>
    </div>
    {% if header %}
        <div class="content">
            {{ header.locale_content|parse_markup }}
        </div>
    {% endif %}
</header>
<section class="block">
    {{ include('vacancies/_filter_form.html.twig') }}
</section>
<section class="block">
    <h2 class="is-sr-only">{{ __('Vacancies') }}</h2>
    <div class="columns is-mobile">
        <div class="column">
            <div class="field is-grouped is-grouped-multiline" data-filter-tags data-auto-submit-visible hidden>
                <p class="control">
                    <small>{{ __('Filter:') }}</small>
                </p>
                {#
                    What's happening here?
                    1. filter out the things we can't turn into tags
                    2. map `a => [b, c]` to `a => [{field: a, value: b}, {field: a, value: c}]`
                       (make sure subitems are not empty)
                    3. flatten
                #}
                {% set filter_tags = filters
                    | filter((values, field) => field in ['partner', 'type', 'study_phase'])
                    | map((values, field) => values
                            | filter(value => value is not empty)
                            | map(value => {field: field, value: value}))
                    | reduce((carry, v) => carry|merge(v), [])
                %}
                {% for tag in filter_tags %}
                    <div class="control">
                        {{ _self.render_filter_tag(tag, _context) }}
                    </div>
                {% else %}
                    <p class="control">
                        <small>{{ __('All vacancies') }}</small>
                    </p>
                {% endfor %}
                {% if filter_tags %}
                    <div class="control">
                        <a href="{{ path('vacancies.list') }}"><small>clear filters</small></a>
                    </div>
                {% endif %}
            </div>
        </div>
        <p class="column is-narrow">
            <small>{{ __N('%d vacancy', '%d vacancies', iters|length) }}</small>
        </p>
    </div>
    <ul class="vacancy-list">
        {% for iter in iters %}
            <li class="vacancy {% if iter.partner %}has-image{% endif %}">
                <a class="media" href="{{ path('vacancies.single', {id: iter.id}) }}">
                    {% if iter.partner %}
                        <figure class="media-left image">
                            {% if iter.partner.logo_dark_url %}
                                <img class="darkmode" src="{{ iter.partner.get_logo_dark(700) }}">
                            {% endif %}
                            <img class="default" src="{{ iter.partner.get_logo(700) }}">
                        </figure>
                    {% endif %}
                    <div class="media-content">
                        <h2 class="title is-5">{{ iter.title }}</h2>
                        <ul class="properties is-size-7">
                            <li class="property" title="{{ __('Company') }}">
                                <span class="icon is-small">
                                    <i class="fas fa-building" aria-hidden="true"></i>
                                    <span class="is-sr-only">{{ __('Company') }}:</span>
                                </span>
                                {{ iter.partner ? iter.partner.name : iter.partner_name }}
                            </li>
                            <li class="divider" role="separator"></li>
                            <li class="property" title="{{ __('Job type') }}">
                                <span class="icon is-small">
                                    <i class="fas fa-hourglass-half" aria-hidden="true"></i>
                                    <span class="is-sr-only">{{ __('Job type') }}:</span>
                                </span>
                                {{ constant('App\\DataModel\\DataModelVacancy::TYPE_OPTIONS')[iter.type] }}
                            </li>
                            <li class="divider" role="separator"></li>
                            <li class="property" title="{{ __('Skill level') }}">
                                <span class="icon is-small">
                                    <i class="fas fa-user-graduate" aria-hidden="true"></i>
                                    <span class="is-sr-only">{{ __('Skill level') }}:</span>
                                </span>
                                {{ constant('App\\DataModel\\DataModelVacancy::STUDY_PHASE_OPTIONS')[iter.study_phase] }}
                            </li>
                        </ul>
                        <div class="description content">
                            {{ iter.description|strip_markup }}
                        </div>
                    </div>
                </a>
            </li>
        {% else %}
            <li>
                <td colspan="6">
                    <p class="has-text-centered">
                        {{ __('No vacancies found :(') }}
                    </p>
                </td>
            </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
