<h2 class="title is-5">
    <a href="{{ path('announcements.single', {id: result.id}) }}" data-search-main-link>{{ result.subject }}</a>
</h2>
<p class="subtitle is-7">
    {{ __('Announcement from %s on %s')|format(
        '<a href="%s">%s</a>'|format(
            path('committees.single', {slug: result.committee.login}),
            result.committee.naam|e('html')),
            result.created_on|date('Y-m-d'))|raw }}
</p>
<div class="content">
    {{ search_utils.excerpt(result.message|strip_markup, resultset.query_parts, 50)|raw }}
</div>
