<h2 class="title is-5">
    <a href="{{ path('committees.single', {slug: result.login}) }}" data-search-main-link>{{ result.naam }}</a>
</h2>
{% if result.search_match_reason == 'committee_member_match' %}
    <p class="subtitle is-7 match-reason">{{ __('%s is a member of this committee')|format(
        '<a href="%s">%s</a>'|format(
            path('profile.member', {id: result.search_match_committee_member_id}),
            result.search_member.full_name|e('html')))|raw }}</p>
{% else %}
    <p class="subtitle is-7">{{ __('Committee') }}</p>
{% endif %}
<div class="content">
    {{ result.summary }}
</div>
