{% from 'events/macros.html.twig' import format_period_short %}
<h2 class="title is-5">
    <a href="{{ path('events.single', {id: result.id}) }}" data-search-main-link>{{ result.kop }}</a>
    <small>
        {{ result.van|date('Y, M j') }}
    </small>
</h2>
<p class="subtitle is-7">
    {% if result.extern %}
        {{ __('External activity from %d')|format(result.van|date('Y')) }}
    {% elseif result.committee %}
        {% set committee_link = '<a href="%s">%s</a>'|format(
            path('committees.single', {slug: result.committee.login}),
            result.committee.naam|e('html')) %}
        {{ __('Activity by %s from %d')|format(committee_link, result.van|date('Y')|e('html'))|raw }}
    {% else %}
        {{ __('Activity from %d')|format(result.van|date('Y')) }}
    {% endif %}

</p>
<ul class="search-result-meta is-size-7">
    <li class="property" title="{{ __('Date & time') }}">
        <span class="icon is-small is-size-7"><i class="fas fa-calendar-day" aria-hidden="true"></i></span>
        <strong class="is-sr-only">{{ __('Date & time') }}</strong>
        {{ format_period_short(result) }}
    </li>
    {% if result.locatie %}
        <li class="divider" role="separator"></li>
        <li class="property is-truncated" title="{{ __('Location') }}">
            <span class="icon is-small is-size-7"><i class="fas fa-map-marker-alt" aria-hidden="true"></i></span>
            <strong class="is-sr-only">{{ __('Location') }}</strong>
            {{ result.locatie }}
        </li>
    {% endif %}
</ul>
<div class="content">
    {{ search_utils.excerpt(result.beschrijving|strip_markup, resultset.query_parts, 50)|raw  }}
</div>
