{% set status = null %}
{% if result.type  == constant('App\\DataModel\\DataModelMember::STATUS_LID') %}
    {% set status = __('Member') %}
{% elseif result.type == constant('App\\DataModel\\DataModelMember::STATUS_LID_AF') %}
    {% set status = __('Former Member') %}
{% elseif result.type == constant('App\\DataModel\\DataModelMember::STATUS_ERELID') %}
    {% set status = __('Honorary Member') %}
{% elseif result.type == constant('App\\DataModel\\DataModelMember::STATUS_DONATEUR') %}
    {% set status = __('Contributor') %}
{% endif %}

<div class="profile-widget">
    <figure class="profile-photo image is-128x128">
        <img class="is-rounded" src="{{ path('profile_pictures.member', {member_id: result.id, format: 'square', width: 256}) }}" width="128" height="128" alt="Photo of {{ result.full_name }}">
    </figure>
    <div class="profile-info">
        <h2 class="title is-5">
            <a href="{{ path('profile.member', {member_id: result.id}) }}" data-search-main-link>{{ result.full_name }}</a>
        </h2>
        {% if status is not null %}
            <p class="subtitle is-7">{{ status }}</p>
        {% endif %}

        <ul>
        {% if not result.is_private('email') and result.telefoonnummer|trim is not empty %}
            <li>
                <span class="icon is-small is-size-7"><i class="fas fa-at fa-fw" aria-hidden="true"></i></span>
                <span class="is-sr-only">{{ __('Email') }}</span>
                <a href="mailto:{{ result.email|e('html_attr') }}">{{ result.email }}</a>
            </li>
        {% endif %}
        {% if not result.is_private('telefoonnummer') and result.telefoonnummer|trim is not empty %}
            <li>
                <span class="icon is-small is-size-7"><i class="fas fa-phone-alt fa-fw" aria-hidden="true"></i></span>
                <span class="is-sr-only">{{ __('Phone') }}</span>
                <a href="tel:{{ result.telefoonnummer|e('html_attr') }}">{{ result.telefoonnummer }}</a>
            </li>
        {% endif %}
        {% if not result.is_private('adres') or not result.is_private('woonplaats') %}
            <li>
                <span class="icon is-small is-size-7"><i class="fas fa-map-marker-alt fa-fw" aria-hidden="true"></i></span>
                <span class="is-sr-only">{{ __('Address') }}</span>
                {% if not result.is_private('adres')%}
                    {{ result.adres }}{{ not result.is_private('woonplaats') ? ',' }}
                {% endif %}
                {% if not result.is_private('woonplaats') %}
                    {{ result.woonplaats }}
                {% endif %}
            </li>
        {% endif %}
        </ul>
    </div>
</div>
