<h2 class="title is-5">
    <a href="{{ path('partners.single', {id: result.id}) }}" data-search-main-link>{{ result.name }}</a>
</h2>
{% if not result.has_profile_visible %}
    <p class="subtitle is-7">{{ __('Partner') }}</p>
{% else %}
    <p class="subtitle is-7">{{ __('Company Profile') }}</p>
    <div class="content">
        {% set content = search_utils.excerpt(result.profile|strip_markup, resultset.query_parts, 50) %}
        {% if content %}
            {{ content|raw }}
        {% else %}
            {{- result.profile|strip_markup|slice(0, 150) -}}
            {%- if result.profile|strip_markup|length > 150 -%}
                <span class="glue">…</span>
            {%- endif -%}
        {% endif %}
    </div>
{% endif %}
