<h2 class="title is-5">
    <a href="{{ path('vacancies.single', {id: result.id}) }}" data-search-main-link>{{ result.title }}</a>
</h2>
<p class="subtitle is-7">
    {{ __('Vacancy at') }}
    {% if result.partner %}
        <a href="{{ path('partners.single', {id: result.partner_id}) }}">
            {{ result.partner.name }}
        </a>
    {% else %}
        <a href="{{ path('vacancies', {'partner[]': result.partner_name}) }}">
            {{ result.partner_name }}
        </a>
    {% endif %}
</p>
<ul class="search-result-meta is-size-7">
    <li class="property" title="{{ __('Job type') }}">
        <span class="icon is-small">
            <i class="fas fa-hourglass-half" aria-hidden="true"></i>
            <span class="is-sr-only">{{ __('Job type') }}:</span>    
        </span>
        {{ constant('App\\DataModel\\DataModelVacancy::TYPE_OPTIONS')[result.type] }}
    </li>
    <li class="divider" role="separator"></li>
    <li class="property" title="{{ __('Skill level') }}">
        <span class="icon is-small">
            <i class="fas fa-user-graduate" aria-hidden="true"></i>
            <span class="is-sr-only">{{ __('Skill level') }}:</span>    
        </span>
        {{ constant('App\\DataModel\\DataModelVacancy::STUDY_PHASE_OPTIONS')[result.study_phase] }}
    </li>
</ul>
<div class="content">
    {% set content = search_utils.excerpt(result.description|strip_markup, resultset.query_parts, 50) %}
    {% if content %}
        {{ content|raw }}
    {% else %}
        {{- result.description|strip_markup|slice(0, 150) -}}
        {%- if result.description|strip_markup|length > 150 -%}
            <span class="glue">…</span>
        {%- endif -%}
    {% endif %}
</div>
