{{ form_start(form, form_attrs) }}
    {# Render token first for better vertical spacing #}
    {{ form_widget(form._token) }}
    {# Skip submit button, this is taken care of by caller #}
    {% do form_row(form.submit, {attr: {'data-auto-submit-hidden': true}}) %}
    {{ form_row(form.description) }}
    <div class="field">
        {{ form_label(form.options)}}
        <noscript><p>{{ __('This feature needs JavaScript to work.') }}</p></noscript>
        <ol id="{{ form.options.vars.id }}-options" class="growing-list" data-growing-list-template="#{{ form.options.vars.id }}-template" data-growing-list-sortable>
            {% for optionField in form.options %}
                <li class="field">
                    <div class="control has-icons-right" title="{{ __('Drag field to reorder options') }}">
                        {{ form_widget(optionField) }}
                        <span class="icon is-right">
                                <i class="fas fa-arrows-alt" aria-hidden="true"></i>
                                <span class="is-sr-only">{{ __('Drag field to reorder options') }}</span>
                        </span>
                    </div>
                    {{ form_errors(optionField) }}
                </li>
            {% endfor %}
        </ol>
        <template id="{{ form.options.vars.id }}-template">
            <li class="field">
                <div class="control has-icons-right" title="{{ __('Drag field to reorder options') }}">
                    {{ form_widget(form.options.vars.prototype) }}
                    <span class="icon is-right">
                            <i class="fas fa-arrows-alt" aria-hidden="true"></i>
                            <span class="is-sr-only">{{ __('Drag field to reorder options') }}</span>
                    </span>
                </div>
            </li>
        </template>
        {# This make sure Symfony won't try to render the widget again… #}
        {% do form.options.setRendered() %}
    </div>
    {{ form_rest(form) }}
{{ form_end(form) }}
