{% extends '@layout/layout.html.twig' %}

{% block title (iter.has_id ? __('Edit board') : __('Add a new board')) ~ ' – ' ~ parent() %}

{% block content %}
<h1 class="title">{{ iter.has_id ? __('Edit board') : __('Add a new board') }}</h1>

{{ form_start(form) }}
    {# Global errors #}
    {{ form_errors(form) }}
    {# Fields #}
    {{ form_row(form.naam) }}
    {{ form_row(form.login) }}
    <div class="field">
        <div class="control buttons">
            {{ form_widget(form.submit, {'label': iter.has_id ? __('Modify board') : __('Create board')}) }}
            <a href="{{ path('boards.list') }}" class="button">{{ __('Back to former boards') }}</a>
        </div>
    </div>
{{ form_end(form) }}
{% endblock %}
