{% extends '@layout/layout.html.twig' %}

{% block title __('Former boards') ~ ' – ' ~ parent() %}

{% set header = get_page('boards_header') %}
{% set footer = get_page('boards_footer') %}

{% block page %}
<article class="section former-boards">
<div class="container is-max-widescreen">
<div class="level">
    <div class="level-left"></div>
    <div class="level-right">
        {% if policy.userCanUpdate(header) or policy.userCanCreate('DataModelBesturen') %}
            <div class="dropdown is-right">
                <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span>{{ __('Manage') }}</span>
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                        {% if policy.userCanCreate('DataModelBesturen') %}
                            <a href="{{ path('boards.create') }}" class="dropdown-item">
                                <span class="icon">
                                    <i class="fas fa-plus" aria-hidden="true"></i>
                                </span>
                                <span>{{ __('Add board') }}</span>
                            </a>
                        {% endif %}
                        
                        {% if policy.userCanUpdate(header) %}
                            <a href="{{ path('page.update', {id: header.id}) }}" class="dropdown-item">
                                <span class="icon">
                                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                </span>
                                <span>{{ __('Edit header') }}</span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>

<header class="hero is-light block">
    <div class="hero-body">
        <div class="content has-text-centered is-centered">
            <h1 class="title">{{ header.get_title }}</h1>
            {{ header.locale_content|parse_markup }}
        </div>
    </div>
</header>

<div class="block">
{% for board in iters %}
    <section id="{{ board.login }}" class="board {% if board.page.cover_image_url %}has-image{% endif %}">
        {% if board.page.cover_image_url %}
            <figure class="board-photo image">
                <img 
                    srcset="{{ board.page.get_cover_image(400) }} 400w,
                            {{ board.page.get_cover_image(600) }} 600w,
                            {{ board.page.get_cover_image(1000) }} 1000w,
                            {{ board.page.get_cover_image(1600) }} 1600w"
                    sizes="100vw"
                    src="{{ board.page.get_cover_image(1600) }}"
                    alt="Photo of {{ board.page.get_title }}"
                >
            </figure>
        {% endif %}

        <div class="board-info">
            {% if policy.userCanUpdate(board) or policy.userCanUpdate(board.page) %}
                <div class="dropdown is-right is-pulled-right">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                            <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                                <span class="is-sr-only">{{ __('Board options') }}</span>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            {% if policy.userCanUpdate(board) %}
                                <a href="{{ path('boards.update', {id: board.id}) }}" class="dropdown-item">{{ __('Edit board') }}</a>
                            {% endif %}
                            {% if policy.userCanUpdate(board.page) %}
                                <a href="{{ path('page.update', {id: board.page.id}) }}" class="dropdown-item">{{ __('Edit content') }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
            
            <div class="content is-full-width">
                <h2>{{ board.page.get_title }}</h2>
                {{ board.page.locale_content|parse_markup(1) }}
            </div>
        </div>
    </section>
{% endfor %}
</div>

<footer class="hero is-light block">
    <div class="hero-body">
        {% if policy.userCanUpdate(footer) %}
            <div class="dropdown is-right is-pulled-right">
                <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                            <span class="is-sr-only">{{ __('Footer options') }}</span>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                        <a href="{{ path('page.update', {id: footer.id}) }}" class="dropdown-item">
                            <span>{{ __('Edit content') }}</span>
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="content has-text-centered is-centered">
            <h2 class="title is-4">{{ footer.get_title }}</h2>
            {{ footer.locale_content|parse_markup }}
        </div>
    </div>
</footer>
</div>
</article>
{% endblock %}
