{% extends '@layout/layout.html.twig' %}

{% macro committee_card(committee) %}
<div class="column is-half-tablet is-one-third-desktop is-one-quarter-fullhd">
    <a href="{{ path('committees.single', {slug: committee.login}) }}" class="committee">
        <div class="overlay">
            <h2 class="name">
                {{ committee.naam }}
            </h2>

            <div class="summary">
                {{ committee.page.summary|default('') }}
            </div>
        </div>

        {% if committee.has_vacancy %}
            <div class="vacancy-badge">{{ __('Looking for new members!') }}</div>
        {% endif %}


        {% if committee.page.cover_image_url %}
            <figure class="image">
                <img
                    loading="lazy"
                    srcset="{{ committee.page.get_cover_image(400) }} 400w,
                            {{ committee.page.get_cover_image(600) }} 600w"
                    sizes="100vw"
                    src="{{ committee.page.get_cover_image(600) }}"
                    alt="{{ __('Committee photo of %s')|format(committee.naam) }}"
                >
            </figure>
        {% elseif committee.members|length > 0 %}
            <div class="member-images columns is-gapless is-mobile">
                {% for member in committee.members %}
                    {% if policy.userCanRead(member) %}
                        <figure class="column image">
                            <img
                                loading="lazy"
                                src="{{ path('profile_pictures.member', {member_id: member.id, format: 'portrait', width: 512}) }}"
                                alt="{{ __('Photo of %s')|format(member.full_name) }}"
                            >
                        </figure>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </a>
</div>
{% endmacro %}

{% block title %}
    {{ __('Committees') }} – {{ parent() }}
{% endblock %}

{% block page %}
<header class="section">
    <div class="container is-widescreen level">
        <div class="level-left">
            <h1 class="title">{{ __('Committees') }}</h1>
        </div>
        {% if policy.userCanCreate('DataModelCommissie') %}
        <div class="level-right buttons">
            {# If someone can create, someone can probably also reactivate #}
            <a href="{{ path('committees.archive') }}" class="button">{{ __('Committee archive') }}</a>
            <a href="{{ path('committees.create') }}" class="button">{{ __('New committee') }}</a>
        </div>
        {% endif %}
    </div>
</header>

<section class="section">
    <div class="container is-widescreen">
        <div class="columns is-multiline">
            {% for committee in committees %}
                {{ _self.committee_card(committee) }}
            {% endfor %}
        </div>
    </div>
</section>


{% if working_groups %}
    <header class="section">
        <div class="container is-widescreen  level">
            <div class="level-left">
                <h1 class="title">{{ __('Working groups') }}</h1>
            </div>
        </div>
    </header>


    <section class="section">
        <div class="container is-widescreen">
            <div class="columns is-multiline">
                {% for committee in working_groups %}
                    {{ _self.committee_card(committee) }}
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}
{% endblock %}
