{% extends '@layout/layout.html.twig' %}

{% block content %}
<h1 class="title">{{ __('Email Confirmed') }}</h1>
<article>
    <p>{{ __('Your email address has been confirmed. Dazzling! You should receive another email soon with instructions on how to setup your account.') }}</p>
</article>
{% endblock %}
