{% block markup_widget %}
    <div class="tabs-wrapper is-condensed">
        <div class="level is-mobile">
            <div class="level-left">
                <div class="tabs is-toggle level-item">
                    <ul>
                        <li class="is-active">
                            <a href="#{{id}}-tab">{{ __('Raw') }}</a>
                        </li>
                        <li>
                            <a href="#{{id}}-preview-tab">{{ __('Preview') }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <a href="https://wiki.svcover.nl/documentation/website/markup" target="_blank" title="{{ __('Markup documentation') }}" aria-label="{{ __('Markup documentation') }}">
                        <i class="fas fa-info-circle" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="tabs-content">
            <div id="{{id}}-tab" class="is-active">
                {{ form_widget(form) }}
            </div>
            <div id="{{id}}-preview-tab" class="content-preview box content" data-preview-source="#{{id}}" data-preview-url="{{ path('page.preview') }}" data-preview-field="content">
                <span class="loading">{{ __('Loading preview…') }}</span>
            </div>
        </div>
    </div>
{% endblock %}

{% block filemanager_file_widget %}
    {%- set attr = attr|merge({
        'data-filemanager': true,
        'data-filemanager-cta': __("Choose an image…"),
        'data-filemanager-url': config.filemanager_url,
    }) -%}
    {{- block('form_widget_simple') -}}
{% endblock %}

{% block member_id_widget %}
    {%- set attr = attr|merge({
        'data-autocomplete': 'member_id',
        'data-name': member ? member.full_name : '',
    }) -%}
    {{- block('form_widget_simple') -}}
{% endblock %}

{% block presentation_row %}
    <div class="field content">
        {{ content|parse_markup }}
    </div>
{% endblock %}
