{% if photo is not defined %}
    {% set photo = iter.photo %}
{% endif %}

{% if book is not defined %}
    {% set book = photo.scope %}
{% endif %}

<div class="media photo-comment" id="comment_{{ iter.id }}">
    <figure class="media-left">
        <p class="image avatar">
            <img
                class="is-rounded"
                src="{{ path('profile_pictures.member', {member_id: iter.author.id, format: 'square', width: 128}) }}"
                alt="Photo of {{ iter.author.get_full_name(bePersonal: true) }}"
            >
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
            <p>
                <strong>
                    <a href="{{ path('profile.member', {member_id: iter.author.id}) }}">
                        {{ iter.author.get_full_name(bePersonal: true) }}
                    </a>
                </strong>
                <br>
                {{ iter.reactie|parse_markup }}
            </p>
        </div>
        <div class="controls level is-mobile">
            <div class="level-left">
                {% if auth.loggedIn %}
                    {% set liked = iter.is_liked_by(auth.identity.member) %}
                    <form class="level-item like-form" method="post"
                        action="{{ path('photo_comments.likes', {id: iter.id, photo_id: photo.id, book_id: book.id}) }}"
                        data-cta="{{ [__('You’ve liked this comment. Click to unlike.'), __('Like comment.') ]|json_encode|e('html_attr') }}"
                    >
                        <input type="hidden" name="form[_token]" value="{{ csrf_token('like_photo_comment_' ~ iter.id) }}">
                        <input type="hidden" name="action" value="{{liked ? 'unlike' : 'like'}}"> {# Needed for API #}
                        {% if liked %}
                            <button name="form[unlike]" type="submit" class="button is-text icon"
                                title="{{ __('You’ve liked this comment. Click to unlike.') }}"
                                aria-label="{{ __('You’ve liked this comment. Click to unlike.') }}"
                            >
                                <i class="fas fa-heart has-text-cover" aria-hidden="true"></i>
                            </button>
                        {% else %}
                            <button name="form[like]" type="submit" class="button is-text icon"
                                title="{{ __('Like comment.') }}"
                                aria-label="{{ __('Like comment.') }}">
                                <i class="fas fa-heart" aria-hidden="true"></i>
                            </button>
                        {% endif %}
                        <span class="count"
                            {% if not iter.likes %}hidden{% endif %}
                            title="{{ iter.likes > 0 ? __N('%d person likes this comment', '%s people like this comment', iter.likes)|e('html_attr') : '' }}"
                            data-title="{{ [__('person likes this comment'), __('people like this comment') ]|json_encode|e('html_attr') }}"
                            data-sr-text="{{ [__('like'), __('likes') ]|json_encode|e('html_attr') }}"
                        >
                            <span class="count-number">{{ iter.likes }}</span>
                            <span class="is-sr-only">{{ __N('like', 'likes', iter.likes) }}</span>
                        </span>
                    </form>
                {% endif %}
                {% if policy.userCanUpdate(iter) %}
                    <a class="level-item"
                            href="{{ path('photo_comments.update', {id: iter.id, photo_id: photo.id, book_id: book.id}) }}"
                            data-popup="modal"
                            title="{{ __('Edit comment') }}">
                        <span class="icon is-small">
                            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                        </span>
                        <span class="is-sr-only">
                            {{ __('Edit comment') }}
                        </span>
                    </a>
                {% endif %}
                {% if policy.userCanDelete(iter) %}
                    <a class="level-item"
                            href="{{ path('photo_comments.delete', {id: iter.id, photo_id: photo.id, book_id: book.id}) }}"
                            data-popup="modal"
                            title="{{ __('Delete comment') }}">
                        <span class="icon is-small">
                            <i class="fas fa-trash" aria-hidden="true"></i>
                        </span>
                        <span class="is-sr-only">
                            {{ __('Delete comment') }}
                        </span>
                    </a>
                {% endif %}
            </div>  
            <div class="level-right">
                <span class="is-size-7">
                    {{ iter.date|date('j F Y, H:i') }}
                </span>
            </div>
        </div>
    </div>
</div>
