{% extends '@layout/layout.html.twig' %}

{% block content %}
<div class="modal is-static">
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{{ __('Delete comment') }}</p>
        </header>
        <section class="modal-card-body">
            {{ form_start(form, {'id': 'delete-comment-form', 'action': app.request.requestUri }) }}
                <div class="field">
                    <p>{{ __('Are you sure you want to delete the comment posted by <em>%s</em>?')|format(iter.auteur.get_full_name(bePersonal: true)|e('html'))|raw }}</p>
                </div>
                {% set submit_button = form_widget(form.submit, {label: __('Delete comment'), color: 'danger', attr: {form: 'delete-comment-form'}}) %}
            {{ form_end(form) }}
        </section>
        <footer class="modal-card-foot">
            <a href="{{ path('photos.single', {book_id: book.id, photo_id: photo.id}) }}" class="button" data-dismiss="modal">{{ __('Return to photo') }}</a>
            {{ submit_button|raw }}
        </footer>
    </div>
</div>
{% endblock %}
