{% extends '@layout/layout.html.twig' %}

{% block title __('Edit message') ~ ' – ' ~ parent() %}

{% block content %}
<h1 class="title">{{ __('Edit message') }}</h1>
{{ form_start(form) }}
    <div class="field">
        <div class="control">
            <p>
                {% if autoresponder == 'on_subscription' %}
                    {{ __('Configure a message to send automatically when someone is subscribed to this list.') }}
                {% elseif autoresponder == 'on_first_email' %}
                    {{ __('Configure an automatic response to the first message someone who is not subscribed sends to the mailing list.') }}
                {% endif %}
            </p>
        </div>
    </div>
    {# Global errors #}
    {{ form_errors(form) }}
    {# Fields #}
    {{ form_row(form[autoresponder ~ '_subject'], {optional_tag: false}) }}
    {{ form_row(form[autoresponder ~ '_message'], {optional_tag: false, attr: {rows: 10}}) }}
    <div class="field">
        <div class="control buttons">
            {{ form_widget(form.submit, {'label': __('Change email')}) }}
            <a href="{{ path('mailing_lists.update', {id: iter.id}) }}" class="button">{{ __('Return to mailing list') }}</a>
        </div>
    </div>
{{ form_end(form) }}
{% endblock %}
