{% extends '@layout/layout.html.twig' %}

{% block title (iter.has_id ? __('Edit mailing list') : __('New mailing list')) ~ ' – ' ~ parent() %}

{% block content %}
<h1 class="title">{{ iter.has_id ? __('Edit mailing list') : __('New mailing list') }}</h1>

{{ form_start(form) }}
    {# Global errors #}
    {{ form_errors(form) }}
    <div class="notification">
        {{ __('In order to work, the mailinglist also needs to be enabled on our email server. The AC/DCee can do this for you.') }}
    </div>
    {# Fields #}
    {{ form_row(form.adres) }}
    {{ form_row(form.type) }}
    {{ form_row(form.toegang) }}
    {{ form_row(form.commissie) }}
    {{ form_row(form.naam) }}
    {{ form_row(form.omschrijving) }}
    {{ form_row(form.tag) }}
    {{ form_row(form.publiek) }}
    {{ form_row(form.has_members) }}
    {{ form_row(form.has_contributors) }}
    {{ form_row(form.has_starting_year) }}
    {% if iter.has_id %}
        <div class="field">
            <h2 class="label">{{ __('Automatic emails') }}</h2>
            <div class="content">
                {% if iter.sends_email_on_subscribing %}
                    <p>
                        {{ __('This mailing list sends everyone who is added or adds theirselves an email automatically.') }} 
                        <a href="{{ path('mailing_lists.autoresponder.update', {id: iter.id, autoresponder: 'on_subscription'}) }}" class="is-inline-block">
                            {{ __('Edit message') }}
                        </a>
                    </p>
                {% elseif iter.type == constant('App\\DataModel\\DataModelMailinglist::TYPE_OPT_IN') %}
                    <p>
                        <a href="{{ path('mailing_lists.autoresponder.update', {id: iter.id, autoresponder: 'on_subscription'}) }}">
                            {{ __('Configure a message to send automatically when someone is subscribed to this list.') }}
                        </a>
                    </p>
                {% endif %}

                {% if iter.sends_email_on_first_email %}
                    <p>
                        {{ __('This mailing list sends an automatic response to the first email someone who is not subscribed sends to this mailing list.') }}
                        <a href="{{ path('mailing_lists.autoresponder.update', {id: iter.id, autoresponder: 'on_first_email'}) }}" class="is-inline-block">
                            {{ __('Edit message') }}
                        </a>
                    </p>
                {% else %}
                    <p>
                        <a href="{{ path('mailing_lists.autoresponder.update', {id: iter.id, autoresponder: 'on_first_email'}) }}">
                            {{ __('Configure an automatic response to the first message someone who is not subscribed sends to the mailing list.') }}
                        </a>
                    </p>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <div class="field">
        <div class="control buttons">
            {{ form_widget(form.submit, {'label': iter.has_id ? __('Modify mailing list') : __('Create mailing list')}) }}
            {% if iter.has_id %}
                <a href="{{ path('mailing_lists.single', {id: iter.id}) }}" class="button">{{ __('Back to mailing list') }}</a>
            {% else %}
                <a href="{{ path('mailing_lists.list') }}" class="button">{{ __('Back to all mailing lists') }}</a>
            {% endif %}
        </div>
    </div>
{{ form_end(form) }}

{% endblock %}
