{% extends 'mailing_lists/_single_layout.html.twig' %}

{% from 'mailing_lists/macros.html.twig' import barchart %}

{% block tab_content %}
<section id="mailing-list-subscriptions">
    <h2 class="is-sr-only">{{ __('Subscriptions') }}</h2>
    <form method="post" action="{{ path('mailing_lists.unsubscribe', {id: iter.id}) }}">
        <input type="hidden" name="form[_token]" value="{{ csrf_token('unsubscribe_' ~ iter.id) }}">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <a href="{{ path('mailing_lists.subscribe_member', {id: iter.id}) }}" class="button is-fullwidth" data-popup="modal">
                        {{ __('Subscribe member') }}
                    </a>
                </div>

                <div class="level-item">
                    <a href="{{ path('mailing_lists.subscribe_guest', {id: iter.id}) }}" class="button is-fullwidth" data-popup="modal">
                        {{ __('Subscribe non-member') }}
                    </a>
                </div>

                <div class="level-item">
                    <button class="button is-fullwidth" type="submit">{{ __('Unsubscribe selected') }}</button>
                </div>
            </div>
        </div>
        <div class="table-container">
            <table class="field table is-fullwidth">
                <thead>
                    <tr>
                        <th class="is-sticky"></th>
                        <th>{{ __('Name') }}</th>
                        <th>{{ __('E-mail address') }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for subscription in iter.subscriptions %}
                    <tr>
                        <td class="is-sticky">
                            <input
                                type="checkbox"
                                id="unsubscribe-{{ subscription.abonnement_id ?: subscription.lid_id }}"
                                name="form[unsubscribe][]"
                                value="{{ subscription.id }}"
                                aria-label="{{ __('Unsubscribe')}} {{ subscription.lid_id ? subscription.lid.full_name : subscription.naam }}"
                            >
                        </td>
                        {% if subscription.lid_id %}
                            <td>
                                <a href="{{ path('profile.member', {member_id: subscription.lid_id}) }}">{{ subscription.lid.full_name }}
                            </td>
                            <td>
                                {{ subscription.lid.is_private('email') ? __('Unknown') : subscription.email }}
                            </td>
                        {% else %}
                            <td>{{ subscription.naam }}</td>
                            <td>{{ subscription.email }}</td>
                        {% endif %}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">
                            <p class="has-text-centered">
                                {{ __('Nobody is subscribed to this list') }}
                            </p>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <button class="button is-fullwidth" type="submit">{{ __('Unsubscribe selected') }}</button>
                </div>
            </div>
        </div>
    </form> 
</section>
<section id="mailing-list-statistics">
    <h2 class="is-sr-only">{{ __('Statistics') }}</h2>
    {% if iter.subscriptions is not empty %}
        <div class="columns is-multiline">
            <figure class="column is-half">
                <figcaption class="has-text-centered">{{ __('Starting year') }}</figcaption>
                {{ barchart(iter.get_reach('beginjaar')) }}
            </figure>
            <figure class="column is-half">
                <figcaption class="has-text-centered">{{ __('Age') }}</figcaption>
                {{ barchart(iter.get_reach('leeftijd')) }}
            </figure>
            <figure class="column is-half">
                <figcaption class="has-text-centered">{{ __('Committees') }}</figcaption>
                {{ barchart(iter.get_reach('committee_count')) }}
            </figure>
            <figure class="column is-half">
                <figcaption class="has-text-centered">{{ __('Type') }}</figcaption>
                {{ barchart(iter.get_reach('type')) }}
            </figure>
        </div>
    {% else %}
        <div class="content">
            <p>
                {{ __('Statistics are not available for empty lists.') }}
            </p>
        </div>
    {% endif %}
</section>
{% endblock %}
