{% extends '@layout/layout.html.twig' %}

{% block title __('Subscribe a non-member') ~ ' – ' ~ parent() %}

{% block content %}
<div class="modal is-static">
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{{ __('Subscribe a non-member') }}</p>
        </header>
        <section class="modal-card-body">
            {{ form_start(form, {'id': 'subscribe-non-member-form', 'action': path('mailing_lists.subscribe_guest', {id: list.id})}) }}
                {# Global errors #}
                {{ form_errors(form) }}
                {# Fields #}
                {{ form_row(form.name) }}
                {{ form_row(form.email) }}
                {% set submit_button = form_widget(form.submit, {'label': __('Subscribe'), 'attr': {'form': 'subscribe-non-member-form'}}) %}
            {{ form_end(form) }}
        </section>
        <footer class="modal-card-foot">
            <a href="{{ path('mailing_lists.single', {id: list.id}) }}" class="button" data-dismiss="modal">{{ __('Cancel') }}</a>
            {{ submit_button|raw }}
        </footer>
    </div>
</div>
{% endblock %}
