{% extends '@layout/layout.html.twig' %}

{% block title __('Search') ~ ' – ' ~ parent() %}

{% block content %}
<h1 class="title">{{ __('Search') }}</h1>
<div class="media block">
    <form method="get" action="{{ path('search') }}" class="media-content">
        <div class="field has-addons">
            <div class="control is-expanded">
                <input
                    class="input is-medium"
                    type="search"
                    name="query"
                    id="field-query"
                    aria-label="{{ __('Search query') }}"
                    placeholder="{{ __('Type here to search…')|e('html_attr') }}"
                    value="{{ query|e('html_attr') }}"
                    tabindex="1"
                    {% if not resultset %}autofocus{% endif %}
                >
            </div>
            <div class="control">
                <button class="button is-medium" type="submit">
                    <span class="icon">
                        <i class="fas fa-search"></i>
                        <span class="is-sr-only">{{ __('Search') }}</span>
                    </span>
                </button>
            </div>
        </div>
    </form>
</div>

{% if resultset is not null %}
<div class="search-results">
    <div class="block">
        <p>{{ __N('%d result', '%d results', resultset.results|length) }}</p>
        {% if resultset.errors %}
            <p>{{ __N(
                'Results from the %s category are missing due to errors.',
                'Results from the categories %s are missing due to errors.',
                resultset.errors|join(', ', __(' and ')), resultset.errors|length
            ) }}</p>
        {% endif %}
    </div>
    {% for result in resultset.results %}
        <section data-search-relevance="{{ '%0.2F'|format(result.search_relevance) }}" class="media search-result">
            <div class="media-content">
                {{ include('search/types/_' ~ result.search_type ~ '.html.twig', {result: result, query: query}) }}
            </div>
        </section>
    {% endfor %}
</div>
{% endif %}
<!--
    {% for category, time in resultset.timings %}
        {{ category }} {{ (time * 1000)|round(2) }}ms
    {% endfor %}
-->
{% endblock %}
