{% extends '@layout/layout.html.twig' %}

{% block title __('Delete field') ~ ' – ' ~ parent() %}

{% block content %}
<h1 class="title">{{ __('Delete field') }}</h1>
{{ form_start(form, {action: path('sign_up_fields.delete', {form_id: iter.id, id: field.id})}) }}
    <div class="field">
        <div class="control buttons">
            {{ form_widget(form.submit, {label: __('Delete field'), color: 'danger'}) }}
            <a href="{{ path('sign_up_forms.update', {id: iter.id, _fragment: 'signup-form-fields'}) }}" class="button">
                {{ __('Back to form') }}
            </a>
        </div>
    </div>
{{ form_end(form) }}
{% endblock %}
