{% extends '@layout/layout.html.twig' %}

{% block title __('Edit form field') ~ ' – ' ~ parent() %}

{% block content %}

<header class="level">
    <div class="level-left">
        <h1 class="title">{{ __('Edit form field') }}</h1>
    </div>
</header>

<section class="block">
    {{ include(sign_up_utils.getConfigurationTemplate(field), {
        form: form,
        form_attrs: {
            action: path('sign_up_fields.update', {form_id: form.id, id: field.id}),
            id: 'field-' ~ field.id ~ '-update',
        },
    }) }}
    <button type="submit" class="button is-primary" form="field-{{field.id}}-update">{{ __('Modify field') }}</button>
</section>
{% endblock %}
