<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="{{ asset('/images/favicon-32x32.png') }}" sizes="32x32">
    <link rel="shortcut icon" type="image/png"  href="{{ asset('/images/favicon-64x64.png') }}" sizes="64x64">
    <link rel="shortcut icon" type="image/png"  href="{{ asset('/images/favicon-128x128.png') }}" sizes="128x128">
    <link rel="shortcut icon" type="image/png"  href="{{ asset('/images/favicon-192x192.png') }}" sizes="192x192">
    <link rel="shortcut icon" type="image/png"  href="{{ asset('/images/favicon-270x270.png') }}" sizes="270x270">
    <link rel="apple-touch-icon" href="filename='{{ asset('/images/apple-touch-icon-180x180.png') }}">
    <meta name="msapplication-TileImage" content="{{ asset('/images/favicon-270x270.png') }}">

    <title>{% block title %}Cover{% endblock %}</title>

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>


    {% block style %}
        {{ encore_entry_link_tags('theme_light') }}
        {{ encore_entry_link_tags('theme_slide') }}
    {% endblock %}
</head>
<body>
    {% block page %}
    {% endblock %}

    {% block scripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
