<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="{{ asset('/images/favicon-32x32.png') }}" sizes="32x32">
    <link rel="shortcut icon" type="image/png"  href="{{ asset('/images/favicon-64x64.png') }}" sizes="64x64">
    <link rel="shortcut icon" type="image/png"  href="{{ asset('/images/favicon-128x128.png') }}" sizes="128x128">
    <link rel="shortcut icon" type="image/png"  href="{{ asset('/images/favicon-192x192.png') }}" sizes="192x192">
    <link rel="shortcut icon" type="image/png"  href="{{ asset('/images/favicon-270x270.png') }}" sizes="270x270">
    <link rel="apple-touch-icon" href="filename='{{ asset('/images/apple-touch-icon-180x180.png') }}">
    <meta name="msapplication-TileImage" content="{{ asset('/images/favicon-270x270.png') }}">

    <title>{% block title %}Cover{% endblock %}</title>
    <meta property="og:title" content="{{ block('title') }}" />
    <meta property="og:image" content="{% block ogimage %}/images/ogimage.jpg{% endblock %}">

    <link rel="search" href="/opensearch.xml"  type="application/opensearchdescription+xml" title="Cover">

    {% block style %}
        {% if app.request.cookies.get('cover_color_mode', 'light') == 'dark' %}
            {{ encore_entry_link_tags('theme_dark') }}
        {% else %}
            {{ encore_entry_link_tags('theme_light') }}
        {% endif %}
    {% endblock %}
    <script defer src="https://use.fontawesome.com/releases/v5.10.2/js/all.js"></script>
</head>
<body class="has-navbar-fixed-top">
    {% block menu %}
        {{ include('@layout/widgets/navigation.twig') }}
    {% endblock %}

    {% if auth.logged_in and auth.identity.is_pending() %}
        <section class="notification is-warning m-0">
            <p>{{ __('Your membership application hasn’t been accepted yet by our secretary. Some pages won’t be accessible until then.') }}</p>
        </section>
    {% endif %}

    <main class="main">
        {% block page %}
            <article class="section">
                <div class="container is-content-optimized">
                    {% block content %}{% endblock %}
                </div>
            </article>
        {% endblock %}
    </main>

    {{ include('@layout/widgets/footer.twig', {'render_sponsors': true}) }}

    {% block scripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <script>alert({{ message|json_encode|raw }});</script>
        {% endfor %}
    {% endfor %}
</body>
</html>
