<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="{{ asset('/images/favicon-32x32.png') }}" sizes="32x32">
    <link rel="shortcut icon" type="image/png"  href="{{ asset('/images/favicon-64x64.png') }}" sizes="64x64">
    <link rel="shortcut icon" type="image/png"  href="{{ asset('/images/favicon-128x128.png') }}" sizes="128x128">
    <link rel="shortcut icon" type="image/png"  href="{{ asset('/images/favicon-192x192.png') }}" sizes="192x192">
    <link rel="shortcut icon" type="image/png"  href="{{ asset('/images/favicon-270x270.png') }}" sizes="270x270">
    <link rel="apple-touch-icon" href="filename='{{ asset('/images/apple-touch-icon-180x180.png') }}">
    <meta name="msapplication-TileImage" content="{{ asset('/images/favicon-270x270.png') }}">

    <title>{% block title %}Cover{% endblock %}</title>

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    {% if app.request.cookies.get('cover_color_mode', 'light') == 'dark' %}
        {{ encore_entry_link_tags('theme_dark') }}
    {% else %}
        {{ encore_entry_link_tags('theme_light') }}
    {% endif %}
</head>
<body class="has-navbar-fixed-top">
    <nav class="navbar is-cover is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img class="cover-logo" src="{{ asset('/images/cover_logo.png') }}" alt="Cover">
                </a>
            </div>
        </div>
    </nav>

    <main class="main">
        {% block page %}
            <article class="section">
                <div class="container is-content-optimized">
                    {% block content %}{% endblock %}
                </div>
            </article>
        {% endblock %}
    </main>

    {{ include('@layout/widgets/footer.twig', {'render_sponsors': false}) }}

    {% block scripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <script>alert({{ message|json_encode|raw }});</script>
        {% endfor %}
    {% endfor %}
</body>
</html>