Dear {{ event.committee.naam }},

Yesterday you organised “{{ event.kop }}”. The Commissioner of Internal Affairs would like to know how many people participated in the event and how many of them where Cover members.

Please reply to this email with the numbers.

Thanks in advance and kind regards,

The Website
