Dear secretary,

The following membership registration was submitted today:

Confirmation code: {{ confirmation_code }}

First name: {{ first_name }}
Infix: {{ family_name_preposition }}
Family name: {{ family_name }}

Address: {{ street_name }}
Postal code: {{ postal_code }}
Place: {{ place }}

Email: {{ email_address }}
Phone: {{ phone_number }}
Date of birth: {{ birth_date }}

Student number: {{ membership_student_number }}
Study: {{ membership_study_name }} {{ membership_study_phase }}
Year of enrollment: {{ membership_year_of_enrollment }}
IBAN: {{ iban }}
BIC: {{ bic }}
SEPA mandate: {{ sepa_mandate }}

Mailing: {{ option_mailing }}

Cheers,

The AC/DCee
