Dear {{ first_name }},

Please confirm your email address to complete your membership application. Click this link to continue:

{{~ link ~}}

After this step, your account will be made and you will receive a link to setup your account. And if everything goes according to plan, you will also be able to purchase snacks and drinks in the KAST system in our room.

Some functions that are only accessible for members, will be enabled after the secretary has confirmed and processed your registration. But that shouldn’t take too long :)

Kind regards,

Cover
