Dear {{ member.voornaam }},

You, or someone who thinks they’re funny, mentioned that you forgot your password for Cover’s website and want to reset it.

To reset your password, open this link in your browser:
{{ link }}

Can’t remember requesting a password reset? Don’t worry, just ignore this email. Your old password will remain active.

Kind regards,

The AC/DCee
