<!DOCTYPE html>
<html>
<body>
<p>Dear {{ member.voornaam }},</p>

<p>You, or someone who thinks they’re funny, mentioned that you forgot your password for Cover’s website and want to reset it.</p>

<p>
To reset your password, open this link in your browser:<br>
<a href="{{ link|e('html_attr') }}">Reset your password</a>
</p>

<p>Can’t remember requesting a password reset? Don’t worry, just ignore this email. Your old password will remain active.</p>

<p>Kind regards,</p>

<p>The AC/DCee</p>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "EmailMessage",
  "potentialAction": {
    "@type": "ConfirmAction",
    "name": "Reset password",
    "handler": {
      "@type": "HttpActionHandler",
      "url": "{{ link }}"
    }
  },
  "description": "Reset my password on Cover’s website"
}
</script>
</body>
</html>
