Dear {{ name }},

It looks like you’ve changed your email address on the Cover website to {{ email.to[0].address }}.

Is this correct? It probably is, but we just want to make sure! Please do confirm it by clicking this link:
{{ link }}

If it’s not correct, just don’t click the link. We’ll keep your previous email.

Kind regards,

The AC/DCee
