<!DOCTYPE html>
<html>
<body>
<p>Dear {{ entry.member.voornaam }},</p>

<p>You’ve signed up for {{ entry.form.agenda_item.kop}}.</p>

<p>Just as a reminder, this is what you entered:</p>

<table>
{% set data = sign_up_utils.exportEntry(entry) %}
{% for id, field in entry.form.fields %}
    {% for key, label in sign_up_utils.getColumnLabels(field) %}
        {% if field.type == 'checkbox' %}
            {% if data[key] is not empty %}
                <tr>
                    <td style="text-align: left" colspan="2">
                        ✓ {{ label }}
                    </td>
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <th style="text-align:left">{{ label }}</th>
                <td>
                    {% if data[key] == '' or data[key] is null %}
                        <em>left blank</em>
                    {% else %}
                        {{ data[key] }}
                    {% endif %}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
{% endfor %}
</table>

<p>Kind regards,</p>

<p>{{ entry.form.agenda_item.committee.naam }}</p>

</body>
</html>
