@use 'sass:math'

$event-overlay-padding: 1.25rem

=max-lines($num-lines: 2)
    display: -webkit-box
    -webkit-box-orient: vertical
    -webkit-line-clamp: $num-lines
    overflow: hidden
    text-overflow: ellipsis

.calendar-single
    .event-header,
    .event-sidebar-sticky-header
        @extend %block
        &:not(.has-image)
            padding-top: 0
            height: 10rem
        .name
            // Limit number of lines in browsers that support it to "deal" with long titles
            +max-lines(2)
            color: $white
            font-size: $size-5
            +mobile
                font-size: $size-4
    .event-header
        +desktop
            z-index: 1
            border-bottom: $block-spacing solid $body-background-color
            &:not(:last-child)
                margin-bottom: 0
    .event-details
        @extend %block
        +tablet
            flex-direction: row-reverse
    .event-sidebar-sticky-header
        --ratio-visible: 1
        display: none
    +desktop
        .is-sidebar > .is-sticky
            position: sticky
            top: $navbar-height + $block-spacing
            margin-top: -(math.div($sidebar-width,2)) - $block-spacing
            .event-sidebar-sticky-header
                display: block
                opacity: calc(.25 + var(--ratio-visible) * .75)
                &:not(.has-image)
                    margin-top: math.div($sidebar-width, 2) - 6rem
                    height: 6rem

.event
    .event-info
        .tag
            color: $white
            font-weight: $weight-semibold
            text-transform: capitalize
            width: fit-content
            &.educational
                background: $orange
            &.career
                background: $cyan
            &.general
                background: $red
            &.social
                background: $purple


.calendar:not(.is-list),
.committee-single
    .event-list
        .event
            &.is-proposal
                opacity: .75
                transition: opacity .125s ease-in-out
                &:hover
                    opacity: 1
            & > a
                display: flex
                flex-flow: column nowrap
                height: 100%
            &.card.is-active,
            &.card:target,
            & > a:hover,
            & > a:focus
                outline: 4px solid $cover-red
            &:not(.has-image) > a
                // Do no image separately, causes bugs otherwise
                &:hover, &:focus
                    &::before
                        outline: none
                &::before
                    @include cover-thumbnail
                    padding-top: 50% // is-2by1, but dart-sass doesn't seem to like it
                    content: ''
                    display: block
            .image
                background: $cover-gradient, $black
                > *
                    +overlay
                    object-fit: cover
            .card-image
                @extend .cover-thumbnail
                @extend .is-2by1
                &:hover, &:focus
                    outline: none
                &:not(:last-child)
                    margin-bottom: 0
            .event-info
                flex-grow: 1
                display: grid
                align-content: start
                background-color: $background
                padding: $box-padding
                color: $text
            .date
                order: 2
                > *
                    font-size: $size-7
                    font-weight: $weight-normal
            .name
                // Limit number of lines in browsers that support it to "deal" with long titles
                +max-lines(2)
                font-weight: $weight-semibold
                font-size: $size-6
                order: 1
                > *
                    font-size: $size-6
                    font-weight: $weight-semibold
                    margin-bottom: 0
            .label-pending
                @extend .is-warning
                background: $warning
            .categories
                margin-top: 0.5rem
                order: 3

.calendar.is-list
    .event-list
        margin: 0
        .column
            padding: 0
        .month-title:not(:first-child)
            margin-top: $block-spacing
        .month-title
            margin-bottom: $block-spacing
        .event
            flex: 0 0 100%
            padding: 1rem 0
            & + .event
                border-top: 1px solid $media-border-color
            > a
                @extend .media
                margin: -1rem
                padding: 1rem
                > .image
                    order: -1
                    overflow: hidden
                    // media-left (@extend is buggy here)
                    flex: 0 0 auto
                    margin-right: 1rem
                    img
                        height: 100%
                        width: 100%
                        object-fit: cover
                        object-position: center
                > .event-info
                    @extend .media-content
                .date
                    color: $grey
                .name > *
                    @extend .title
                    @extend .is-5
                .date, .name
                    margin-bottom: 0.25rem
                .label-pending
                    @extend .is-warning
                &:hover
                    background: $background
            &:not(.has-image) > a::before
                content: ''
                display: block
                // media-left (@extend is buggy here)
                flex: 0 0 auto
                margin-right: 1rem
            > a > .image,
            &:not(.has-image) > a::before
                padding: 0 // override .is-2by1
                background: $cover-gradient, $black
                height: 96px
                width: 96px
                +desktop
                    height: 96px
                    width: 192px
            &.is-proposal
                > a > .image,
                &:not(.has-image) > a::before
                    opacity: .75
                    transition: opacity .125s ease-in-out
                &:hover
                    > a > .image,
                    &:not(.has-image) > a::before
                        opacity: 1

.event-period
    display: table
    width: 100%
    &:not(:first-child)
        margin-top: $block-spacing
    .row
        display: table-row
        .date,
        .time
            display: table-cell
        .time
            padding-left: 1rem
            min-width: 8ch
        &.title
            padding-bottom: $block-spacing

.content
    .event-period
        h1.row > *
            padding-bottom: 0.5em
        h2.row > *
            padding-bottom: 0.5714em
        h3.row > *
            padding-bottom: 0.6666em
        h4.row > *
            padding-bottom: 0.8em
        h5.row > *
            padding-bottom: 0.8888em
        h6.row > *
            padding-bottom: 1em
