@use "sass:color"

@import "bulma-carousel"

@charset "utf-8"

$min-height-carousel: 20rem
$announcement-base-height: 20rem

$calendar-color: $text !default
$calendar-background-color: $scheme-main !default
$calendar-shadow: 0 0.5em 1em -0.125em rgba($scheme-invert, 0.1), 0 0px 0 1px rgba($scheme-invert, 0.02) !default

$calendar-header-background-color: transparent !default
$calendar-header-color: $text-strong !default
$calendar-header-padding: 0.75rem 1rem !default
$calendar-header-shadow: 0 0.125em 0.25em rgba($scheme-invert, 0.1) !default
$calendar-header-weight: $weight-bold !default

$calendar-content-background-color: transparent !default
$calendar-content-padding: 1.5rem !default

$calendar-footer-background-color: transparent !default
$calendar-footer-border-top: 1px solid $border-light !default
$calendar-footer-padding: 0.75rem !default

$calendar-media-margin: $block-spacing !default

$calendar-calendar-padding: 0.3rem !default
$calendar-header-size: 1.5rem

$event-shadow: 0 0.5em 1em -0.125em rgba($scheme-invert, 0.1), 0 0px 0 1px rgba($scheme-invert, 0.02) !default
$event-padding: 0 0 1rem 1rem
$event-date-bg-color: transparent !default
$event-color-text: $blue-invert
$event-color-text-invert: $text-strong
$event-details-bg-color: $light !default
$event-bg-color: $blue

.homepage
    .cover-info
        .title
            color: $white
            text-align: center
        .cover-info-item
            text-align: center
            .image
                +block
                max-width: 50%
                margin-left: auto
                margin-right: auto
            +tablet
                display: flex
                flex-flow: column nowrap
                justify-content: space-between
                .image
                    img
                        object-fit: contain
                        object-position: center
                        height: 7.5rem
            +desktop
                .image
                    img
                        height: 10rem
            +widescreen
                .image
                    img
                        height: 15rem
        
    .become-member
        height: $navbar-height
        position: sticky
        top: $navbar-height
        z-index: 11
        .button
            height: 100%
        // background-color: $blue
        // width: 100%
        // color: $white
        // display: flex
        // justify-content: center
        // align-content: center
        // z-index: 11
        // border-style: solid
        // &:hover
        //     color: $white
        //     background-color: $cyan
        //     transition: 0.2s


    .is-sticky
        position: sticky
        top: $navbar-height + $block-spacing

    .is-sticky-double
        position: sticky
        top: $navbar-height * 2 + $block-spacing

    // .is-bottom-overlay
    //         top: auto    !important
    //         height: auto !important
    //         bottom: 2rem !important

    // .is-full-height
    //     height: 100%

    // @media(max-width: 950px)
    //     .is-full-width
    //         width: 100% !important
    //     .reverse-row-order
    //             display: flex 
    //             flex-direction: column-reverse
    
    // .container-fancy 
    //     width: 100%
    //     padding-left: 5rem
    //     padding-right: 5rem
    //     min-height: $min-height-carousel

    // .container-calendar-and-car  
    //     margin:  auto auto auto auto
    //     position: relative 
    //     width: 100%
    //     height: auto 
    //     padding: 25px 0px 25px 0px 
    //     min-height: $min-height-carousel

    // .calendar-main
    //     background-color: $calendar-background-color
    //     box-shadow: $calendar-shadow
    //     color: $calendar-color
    //     max-width: 100%
    //     position: relative
    //     &.is-calendar
    //         width: 100%
    //         height: 100%
    //         margin-bottom: $calendar-calendar-padding
    //     &.is-calendar-box
    //         margin-bottom: 0

    // .calendar-header
    //     background-color: $calendar-header-background-color
    //     align-items: stretch
    //     box-shadow: $calendar-header-shadow
    //     display: flex
    //     &.is-calendar
    //         background-color: $cover
    //         img
    //                 max-height: $calendar-header-size
    //                 padding: 0.1rem
    //     &.is-small-calendar
    //         padding-top: $calendar-header-padding
    //         &:hover 
    //             background: linear-gradient(to bottom right, rgba(168, 73, 148, 0.4), rgba(54, 116, 157, 0.4)), #0a0a0a



    // .calendar-header-title
    //     align-items: center
    //     color: $calendar-header-color
    //     display: flex
    //     flex-grow: 1
    //     font-weight: $calendar-header-weight
    //     padding: $calendar-header-padding
    //     &.is-centered
    //         justify-content: center
    //     &.is-calendar-title
    //         color: #ffffff
    //         font-size: 1.5rem
    //         padding: $calendar-header-padding 
    //         &.is-small
    //             color: #000000
    //             &:hover
    //                 color: #ffffff

    // .calendar-header-icon
    //     align-items: center
    //     cursor: pointer
    //     display: flex
    //     justify-content: center
    //     padding: $calendar-header-padding

    // .calendar-image
    //     display: block
    //     position: relative

    // .calendar-content
    //     background-color: $calendar-content-background-color
    //     padding: $calendar-content-padding
    //     &.is-calendar
    //         padding: $calendar-content-padding / 5

    // .calendar-footer
    //     background-color: $calendar-footer-background-color
    //     border-top: $calendar-footer-border-top
    //     align-items: stretch
    //     display: flex

    // .calendar-footer-item
    //     align-items: center
    //     display: flex
    //     flex-basis: 0
    //     flex-grow: 1
    //     flex-shrink: 0
    //     justify-content: center
    //     padding: $calendar-footer-padding
    //     &:not(:last-child)
    //         border-right: $calendar-footer-border-top

    // // Combinations

    // .calendar
    //     .media:not(:last-child)
    //         margin-bottom: $calendar-media-margin

    .calendar
        > .columns
            margin: 0
        .carousel
            overflow: hidden
            margin: -$column-gap
        .events
            padding: 0
            position: relative
            .wrapper
                height: 100%
                padding: $box-padding
                display: flex
                flex-flow: column nowrap
                justify-content: center
                > *
                    flex-grow: 0
        +until($desktop)
            > .columns
                display: flex
                flex-flow: column-reverse nowrap
        +from($tablet)
            .events
                .wrapper
                    padding: $box-padding 5rem
        +from($desktop)
            .events
                .scroll-container
                    position: absolute
                    top: 0
                    right: 0
                    bottom: 0
                    left: 0
                    overflow-y: auto
                .wrapper
                    padding: $box-padding
                .title
                    position: sticky
                    top: 0
                    z-index: 10
                    background: $event-details-bg-color
                    margin-right: -1 * $box-padding
                    margin-left: -1 * $box-padding
                    padding: .5rem $box-padding
        +from($fullhd)
            .events
                .wrapper
                    padding: $box-padding 5rem
                .title
                    margin-right: -5rem
                    margin-left: -5rem
                    padding: .5rem 5rem
        .complete-calendar-link
            color: $text-strong
        .events-list
            padding: 0
            margin-bottom: $block-spacing
            .event
                background: $blue
                box-shadow: $event-shadow
                max-width: 100%
                position: relative
                padding: $event-padding
                height: auto
                &:not(:last-child)
                    margin-bottom: $block-spacing
                .event-date
                    color: $event-color-text
                    font-size: large
                    display: flex
                    flex-wrap: wrap
                    align-items: center
                    justify-content: center
                    padding: 0.5rem
                .event-details
                    color: $event-color-text-invert
                    background-color: $event-details-bg-color
                    padding-top: 0rem
                    padding-bottom: 0rem
                    &.is-active,
                    &:hover
                        background-color: color.adjust($white, $alpha: -1)
                        color: $event-color-text
                .is-event-title
                    font-weight: 600
                .is-duration
                    margin-top: 1rem
                .is-event-date
                    font-weight: lighter
                    font-size: 130%


.carousel
    .slider-navigation-previous,
    .slider-navigation-next
        background: transparent
        border: none
        box-shadow: none
        width: 20px
        opacity: .8
        &:hover
            opacity: 1
        svg
            width: 50%
            polyline
                fill: $white


.announcements
    .is-half-height
            overflow: hidden
            &.is-long-text
                visibility: visible !important

    .is-not-active-read-more
            visibility: hidden
            
    .is-active-read-more
            display: flex
            align-items: center
            justify-content: center

    
    .announcement
        &.collapse .collapse-content
            &:not(.is-visible) 
                height: $announcement-base-height

            &.is-transitioning-in
                height: $announcement-base-height + 5rem

