{% extends '@layout/layout.html.twig' %}

{% from 'photos/macros.html.twig' import get_srcset %}

{% block title book.titel ~ ' – ' ~ parent() %}

{%- macro format_face_label(face) -%}
<span class="face-label">
    {%- if face.lid_id is not null -%}
        <a href="{{ path('profile.member', {member_id:  face.lid.id}) }}" data-face-id="{{ face.id }}">
            {{- face.lid.get_full_name(bePersonal: true) -}}
        </a>
    {%- elseif face.custom_label != '' -%}
        <span class="custom-label" data-face-id="{{ face.id }}">{{ face.custom_label }}</span>
    {%- else -%}
        <span data-face-id="{{ face.id ?? '' }}">{{ __('Unknown') }}</span>
    {%- endif -%}
</span>
{%- endmacro -%}

{%- macro format_face_labels(faces) -%}
    {% set known_faces = faces|filter(f => f.lid_id is not null or f.custom_label != '')  %}
    {% set known_faces = known_faces|map(f => _self.format_face_label(f)) %}
    {% set unknown_count = (faces|length) - (known_faces|length)  %}

    {% if unknown_count > 0 %}
        {% set known_faces = known_faces|merge([__N('%d Unknown', '%d Unknown', unknown_count)]) %}
    {% endif %}

    {{ known_faces|join(', ', __(' and '))|raw }}
{%- endmacro -%}

{% block page %}
<article class="photo-single">

<section class="photo">
    <div class="carousel is-animated">
        <figure class="image">
            <picture>
                <source srcset="{{ get_srcset(photo, 400, 400) }}" media="(max-width: 400px)">
                <source srcset="{{ get_srcset(photo, 600, 600) }}" media="(max-width: 600px)">
                <source srcset="{{ get_srcset(photo, 900, 900) }}" media="(max-width: 900px)">
                <source srcset="{{ get_srcset(photo, 1200, 1200, [1, 1.5, 2]) }}"  media="(max-width: 1200px)">
                <source srcset="{{ get_srcset(photo, 1800, 1800, [1]) }}" media="(max-width: 1800px)">
                <source srcset="{{ get_srcset(photo, 2400, 2400, [1]) }}">
                <img src="{{ path('photos.scaled', {photo_id: photo.id, width: 1800, height: 1800}) }}">
            </picture>
            <figcaption class="faces" hidden data-api-url="{{ path('photo_faces.list', {photo_id: photo.id}) }}">
                <template class="face-template">
                    <div class="face">
                        <button class="delete is-small" type="button" data-delete hidden></button>
                        <a class="tag" data-label data-label-member hidden></a>
                        <span class="tag" data-label data-label-custom hidden></span>
                        <button class="tag is-unknown" type="button" data-label data-label-untagged data-button-autocomplete hidden>
                            {{ __('Click to tag') }}
                        </button>
                        <span class="tag is-unknown" data-label data-label-untagged-noedit hidden>
                            {{ __('Not yet tagged') }}
                        </span>
                        <div class="tag is-suggested" data-label data-label-suggested hidden>
                            <div class="suggestion">
                                {{ __('Is this %s?')|e|format('<a class="name" data-name></a>')|raw }}
                            </div>
                            <div class="button-group">
                                <button type="button" data-button-yes>{{  __('Yes') }}</button>
                                <button type="button" data-button-no>{{  __('No') }}</button>
                            </div>
                        </div>
                        <div data-label data-label-autocomplete hidden>
                            <span class="tag is-medium" data-autocomplete-placeholder></span>
                        </div>
                    </div>
                </template>
            </figcaption>
        </figure>
    </div>
    <nav class="photo-navigation" data-enter-fullscreen-text="{{ __('Enter fullscreen') }}" data-exit-fullscreen-text="{{ __('Exit fullscreen') }}">
        {% set nav = book.get_neighbours(photo) %}
        {% if nav.previous %}
        <a class="photo-previous" href="{{ path('photos.single', {book_id: book.id, photo_id: nav.previous.id}) }}" title="{{ __('Go to the previous photo') }}">
            <span class="icon">
                <i class="fas fa-chevron-left" aria-hidden="true"></i>
                <span class="is-sr-only">{{ __('Previous') }}</span>
            </span>
        </a>
        {% endif %}

        {% if nav.next %}
        <a class="photo-next" href="{{ path('photos.single', {book_id: book.id, photo_id: nav.next.id}) }}" title="{{ __('Go to next photo') }}">
            <span class="icon">
                <i class="fas fa-chevron-right" aria-hidden="true"></i>
                <span class="is-sr-only">{{ __('Next') }}</span>
            </span>
        </a>
        {% endif %}
        <a class="photo-parent button is-text" href="{{ path('photo_books.single', {book_id: book.id}) }}#photo-{{ photo.id }}">
            <span class="icon"><i class="fas fa-arrow-left" aria-hidden="true"></i></span>
            <span>{{__('Back to')}} {{ book.titel }}</span>
        </a>
    </nav>
</section>

<section class="section photo-info">
    <div class="photo-meta">
        {% if policy.userCanUpdate(book) %}
            {% if photo.beschrijving %}
                <h1>
                    <a class="name" href="{{ path('photos.update', {book_id: book.id, photo_id: photo.id}) }}" title="{{ photo.beschrijving }}" data-popup="modal">
                        {{- photo.beschrijving -}}
                    </a>
                </h1>
            {% else %}
                <a class="name placeholder" href="{{ path('photos.update', {book_id: book.id, photo_id: photo.id}) }}" data-popup="modal">
                    {{- __('Add photo title') -}}
                </a>
            {% endif %}
        {% elseif photo.beschrijving %}
            <h1 class="name" title="{{ photo.beschrijving }}">
                {{- photo.beschrijving -}}
            </h1>
        {% endif %}

        <div class="book">
            <a href="{{ path('photo_books.single', {book_id: book.id, _fragment: 'photo_' ~ photo.id}) }}" title="{{ book.titel }}">
                {{ book.titel }}
            </a>
            {% if photo.book.id != book.id %}
                <span class="original-book">
                    {{ __('from') }}
                    <a href="{{ path('photo_books.single', {book_id: photo.book.id, _fragment: 'photo_' ~ photo.id}) }}" title="{{ photo.book.titel }}">
                        {{ photo.book.titel }}
                    </a>
                </span>
            {% endif %}
        </div>

        {% if book.has_value('date') %}
            <div class="date">{{ book.date|date('j F Y') }}</div>
        {% endif %}

        {% set readable_faces = photo.faces|filter(face => policy.userCanRead(face)) %}
        {% if readable_faces|length > 0 %}
            <div class="photo-tag-list">
                <span class="icon">
                    <i class="fas fa-user-tag fa-fw" aria-hidden="true"></i>
                    <span class="is-sr-only">{{ __('A photo with') }}</span>
                </span>
                <span class="face-list" data-glue="{{ __('and') }}">
                    {{ _self.format_face_labels(readable_faces, _self) }}
                </span>
                <template class="face-template">
                    <span class="face-label">
                        <a data-label-url hidden></a>{# whitespace control
                        #}<span data-label-text hidden></span>{# whitespace control
                        #}<span data-label-other hidden>{{ __('Unknown') }}</span>{# whitespace control
                        #}<span data-label-unknown hidden>
                            <span data-count></span>{# whitespace control
                            #}<span data-singular>&nbsp;{{ __('Unknown') }}</span>{# whitespace control
                            #}<span data-plural>&nbsp;{{ __('Unknown') }}</span>
                        </span>{# whitespace control
                    #}</span>
                </template>
            </div>
        {% endif %}

        <div class="photo-options dropdown is-right">
            <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                        <span class="is-sr-only">{{ __('Options') }}</span>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    {% if policy.userCanUpdate(book) %}
                        <a class="dropdown-item" href="{{ path('photos.update', {book_id: book.id, photo_id: photo.id}) }}" data-popup="modal">
                            {{- __('Edit title') -}}
                        </a>
                        <a class="dropdown-item" href="{{ path('photo_books.delete_photos', {book_id: book.id, 'photo_id[]': photo.id}) }}" data-popup="modal">
                            {{ __('Delete photo') }}
                        </a>
                        <hr class="dropdown-divider">
                    {% endif %}
                    {% if auth.loggedIn and auth.identity.get('id') in photo.faces|column('lid_id') %}
                        <a class="dropdown-item" href="{{ path('photos.privacy', {book_id: book.id, photo_id: photo.id}) }}" data-popup="modal">
                            {{ __('Visibility') }}
                        </a>
                        <hr class="dropdown-divider">
                    {% endif %}
                    <a class="dropdown-item" href="{{ path('photos.original', {photo_id: photo.id}) }}">
                        {{ __('Download photo') }}
                    </a>

                    <a
                        class="dropdown-item photo-copy-link"
                        href="{{ url('photos.single', {book_id: book.id, photo_id: photo.id}) }}"
                        data-copy-question="{{ __('Do you want to copy a link to this photo?') }}"
                        data-share-title="{{ __('Photo from %s')|format(photo.book.titel) }}"
                    >
                        {{ __('Share photo') }}
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="photo-interaction">
        {% if auth.loggedIn %}
            <div class="controls level is-mobile">
                {% set liked = auth.identity.get('id') in photo.likes|column('lid_id') %}
                <form class="level-item like-form photo-like-form" method="post"
                    action="{{ path('photos.likes', {book_id: book.id, photo_id: photo.id}) }}"
                    data-cta="{{ [__('You’ve liked this photo. Click to unlike.'), __('Like photo.') ]|json_encode|e('html_attr') }}"
                >
                    <input type="hidden" name="form[_token]" value="{{ csrf_token('like_photo_' ~ photo.id) }}">
                    <input type="hidden" name="action" value="{{liked ? 'unlike' : 'like'}}"> {# Needed for API #}
                    {% if liked %}
                        <button name="form[unlike]" type="submit" class="button is-text icon"
                            title="{{ __('You’ve liked this photo. Click to unlike.') }}"
                            aria-label="{{ __('You’ve liked this photo. Click to unlike.') }}"
                        >
                            <i class="fas fa-heart has-text-cover" aria-hidden="true"></i>
                        </button>
                    {% else %}
                        <button name="form[like]" type="submit" class="button is-text icon"
                            title="{{ __('Like photo.') }}"
                            aria-label="{{ __('Like photo.') }}">
                            <i class="fas fa-heart" aria-hidden="true"></i>
                        </button>
                    {% endif %}
                    <span class="count"
                        {% if photo.likes|length == 0 %}hidden{% endif %}
                        title="{{ photo.likes|length > 0 ? __N('%d person likes this photo', '%d people like this photo', photo.likes|length)|e('html_attr') : '' }}"
                        data-title="{{ [__('person likes this photo'), __('people like this photo') ]|json_encode|e('html_attr') }}"
                        data-sr-text="{{ [__('like'), __('likes') ]|json_encode|e('html_attr') }}"
                    >
                        <span class="count-number is-size-6">{{ photo.likes|length }}</span>
                        <span class="is-sr-only">{{ __N('like', 'likes', photo.likes|length) }}</span>
                    </span>
                </form>

                {% if policy.userCanCreate('DataModelPhotobookFace') %}
                    <a class="level-item photo-tag-button" title="{{ __('Tag people') }}" hidden>
                        <span class="icon">
                            <i class="fas fa-tag" aria-hidden="true"></i>
                        </span>
                        <span class="is-sr-only">
                            {{ __('Tag people') }}
                        </span>
                    </a>
                {% endif %}

                <a class="level-item" href="{{ path('photos.original', {photo_id: photo.id}) }}" title="{{ __('Download photo') }}">
                    <span class="icon">
                        <i class="fas fa-download" aria-hidden="true"></i>
                    </span>
                    <span class="is-sr-only">
                        {{ __('Download photo') }}
                    </span>
                </a>

                <a
                    class="level-item photo-copy-link"
                    href="{{ url('photos.single', {book_id: book.id, photo_id: photo.id}) }}"
                    title="{{ __('Share photo') }}"
                    data-copy-question="{{ __('Do you want to copy a link to this photo?') }}"
                    data-share-title="{{ __('Photo from %s')|format(photo.book.titel) }}"
                >
                    <span class="icon">
                        <i class="fas fa-share-alt" aria-hidden="true"></i>
                    </span>
                    <span class="is-sr-only">
                        {{ __('Share photo') }}
                    </span>
                </a>
            </div>
        {% endif %}

        <div class="comments"
            data-count="{{ photo.comments|length|e('html_attr') }}"
            data-icon-class="fa-comments"
            data-text="{{ [__('comment'), __('comments') ]|json_encode|e('html_attr') }}"
        >
            {{ render(controller('App\\Controller\\PhotoCommentsController::photo', {photo: photo, book: book})) }}
        </div>
    </div>
</section>

</article>
{% endblock %}
