{% set current_month = -1 %}
{% import 'events/macros.html.twig' as macros %}

<ul class="event-list columns is-multiline">
{% for event in iters %}
    {% if group_by_month ?? true and current_month != event.van|date('n') %}
        <li class="month-title column is-full">
            <h2 class="title is-4">
                {{ event.van|date('F Y') }}
            </h2>
        </li>
        {% set current_month = event.van|date('n') %}
    {% endif %}
    <li class="event {% if event.image_url %}has-image{% endif %} {% if event.is_proposal() %}is-proposal{% endif %} column is-half-tablet is-one-third-widescreen is-one-quarter-fullhd">
        <a href="{{ path('events.single', {id: event.id}) }}">
            {% if event.image_url %}
                <figure class="image is-2by1" aria-hidden="true">
                    <img
                        loading="lazy"
                        srcset="{{ event.get_image(400) }} 400w,
                                {{ event.get_image(600) }} 600w"
                        sizes="100vw"
                        src="{{ event.get_image(600) }}"
                        alt=" " {# Make it look like no image. Figure is hidden to screen readers anyway, so doesn't need to be a good alt #}
                    >
                </figure>
            {% endif %}
            <div class="event-info">
                <div class="name">
                    <h3>
                        {{ event.kop }}
                    </h3>
                </div>
                <div class="date">
                    <span>
                        {{ macros.format_period_short(event) }}
                    </span>
                </div>
                {% if event.category %}
                    <div class="categories">
                        {% for category in event.category|split(',') %}
                            <span class="tag is-rounded {{ category }}">{{ category }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if event.is_proposal() %}
                    <span class="tag is-rounded label-pending">
                        {{ __('Waiting for approval') }}
                    </span>
                {% endif %}
            </div>
        </a>
    </li>
{% else %}
    <li class="column is-full has-text-centered">{{ __('No events found :(') }}</li>
{% endfor %}
</ul>
