{% extends '@layout/layout.html.twig' %}

{% block title __('Delete event') ~ ' – ' ~ parent() %}

{% block content %}
<h1 class="title">{{ __('Delete event') }}</h1>
{{ form_start(form, {action: path('events.delete', {id: iter.id})}) }}
    <div class="field">
        <p>{{ __('Are you sure you want to delete the event <em>%s</em>?')|format(iter.kop|e('html'))|raw }}</p>
    </div>
    <div class="field">
        <div class="control buttons">
            {{ form_widget(form.submit, {label: __('Delete event'), color: 'danger'}) }}
            <a href="{{ path('events.single', {id: iter.id}) }}" class="button">{{ __('Back to event') }}</a>
        </div>
    </div>
{{ form_end(form) }}
{% endblock %}
