{% extends context == 'modal' ? 'sign_ups/entries/_form_modal.html.twig' : 'sign_ups/entries/_form_regular.html.twig' %}

{% block title __('Form') ~ ' – ' ~ parent() %}
{% block entry_form_title %}{{ __('Form') }}{% endblock %}

{% block entry_form_header %}
{% endblock %}

{% block entry_form_form %}
    <p>{{ __('Success! You have signed up.') }}</p>
{% endblock %}

{% block entry_form_buttons %}
    <a href="#" class="button" data-dismiss="modal">{{ __('Close') }}</a>
{% endblock %}
